{% extends "form_template.html" %}

{% block panel_title %}
Editing Game Information
{% endblock panel_title %}

{% block form_action %}
<form method="POST" enctype="multipart/form-data" action="{{url_for('edit_game', genre_id=genre_id, game_id=game_id)}}">

{% endblock form_action %}

{% block button_info %}
<div class="form-group row">
  <div class="col-sm-offset-6 col-sm-2">
    <button type="submit" class="btn btn-primary">
      Apply
    </button>
  </div>
  <div class="col-sm-2">
    <a href="{{url_for('show_game', genre_id=genre_id, game_id=game_id)}}"
       class="btn btn-primary" role="button">Cancel</a>
  </div>
</div>
{% endblock button_info %}
