{% extends "form_template.html" %}

{% block panel_title %}
Adding New Game
{% endblock panel_title %}

{% block form_action %}
<form method="POST" enctype="multipart/form-data" action="{{url_for('add_new_game')}}">
{% endblock form_action %}

{% block button_info %}
<div class="form-group row">
  <div class="col-sm-offset-6 col-sm-2">
    <button type="submit" class="btn btn-primary">
      Add
    </button>
  </div>
  <div class="col-sm-2">
    <a href="{{url_for('show_home')}}"
       class="btn btn-primary" role="button" href="/catalog/">Cancel</a>
  </div>
</div>
{% endblock button_info %}
